@media (prefers-color-scheme: dark) {
  :root {
    background: #051b29;
    color: #eee;
  }
}

body {
  color: #051b29;
  background-color: #eee;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: large;
}
