* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #051b29;
    --color: #c5c5c5;
  }

  body {
    color: var(--color);
    background-color: var(--background);
  }

  body {
    transition: background-color 0.5s ease, color 0.5s ease;
  }
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: "Rubik Gemstones", system-ui;

  font-size: 22px;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: large;
  font-size: 18px;
}

.instagram__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  margin-top: 40px;
}

/* media */
@media (max-width: 768px) {
  body {
    font-size: 18px;
    padding: 0 10px;
  }

  .instagram__wrapper {
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }

  a {
    font-size: medium;
  }
}
